<div class="ev-list-container">
  <div>
    {% for ev in data.ev %}
    <div class="ev-list-item">
      <h3 class="ev-list-item-title">{{ev.model}} {{ev.make}}</h3>
      <button
        type="button"
        onclick="addChargingStationPins(`{{ev.EVchargerType}}`)"
      >
        Book now
      </button>
    </div>
    {% endfor %}
  </div>
  <div
    id="myMap"
    style="
      opacity: 0;
      pointer-events: none;
      position: relative;
      width: 500px;
      height: 500px;
    "
  ></div>
</div>
