<div class="ev-list-container">
  <div>
    {% for ev in data.ev %}
    <div class="ev-list-item">
      <h3 class="ev-list-item-title">{{ev.model}} {{ev.make}}</h3>
      <button
        type="button"
        onclick="addChargingStationPins(`{{ev.EVchargerType}}`)"
      >
        View charging stations
      </button>
    </div>
    {% endfor %}
  </div>
  <div id="charging-stations-map" class="charging-stations-container">
    <div
      id="myMap"
      style="position: relative; width: 500px; height: 500px"
    ></div>
    <div class="charging-stations-list" id="charging-stations-list"></div>
  </div>
</div>
