<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontend/static/style.css">
    <title>ChargeAnyWhere</title>
</head>
<body>

    <header>
        <h1>ChargeAnyWhere</h1>
    </header>

    <div id="main-content">
        <div id="image-container">
            <img src="../frontend/static/c1.jpeg" alt="Beautiful Image" style="flex:1;max-width: 85%;height: auto;">
        </div>

        <div id="login-container">
            <h2>Login</h2>
            <form id="login-form" method="post" action="/loginAuth">
                <label for="email">Username:</label>
                <input type="text" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
                <p style="background-color:tomato;">
                    {{message}}
                </p>
            </form>

            <a href="/register" class="register-link">Register</a>
        </div>
    </div>

    <script>
        function submitForm() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            var formData = {
                "email": email,
                "password": password
            };

            fetch('/loginAuth', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
