<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../frontend/static/style.css">
    <!-- Bing Maps API Script -->
    <script type='text/javascript' 
            src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AhU9NVPY79i3RTZOWr8FEhKZR5NcWpqXL1g-XBHjQxXCcDI2ok4QsXDkD79V33b3" 
            async defer>
    </script>
    
    <script type='text/javascript' >
        var map
        function GetMap()
        {
            var mapOptions ={
                credentials: 'AhU9NVPY79i3RTZOWr8FEhKZR5NcWpqXL1g-XBHjQxXCcDI2ok4QsXDkD79V33b3',
                center: new Microsoft.Maps.Location(17.44509516273274, 78.34984062445746), //IIIT hyderabad 
                zoom: 15
            }
            map = new Microsoft.Maps.Map('#myMap',mapOptions);

            var defaultPin = new Microsoft.Maps.Pushpin(map.getCenter(), { color: 'red' });
            map.entities.push(defaultPin);
            Microsoft.Maps.Events.addHandler(map, 'click', handleMapClick);
        }
        function handleMapClick(e)
        {
            if (e.targetType == "map") {
                var point = new Microsoft.Maps.Point(e.getX(), e.getY());
                var loc = e.target.tryPixelToLocation(point);
                if (loc!=null){
                    document.getElementById('lat').value=loc.latitude;
                    document.getElementById('long').value=loc.longitude;

                    if (map.entities.getLength() > 0 && map.entities.get(0) instanceof Microsoft.Maps.Pushpin) {
                        var existingPushpin = map.entities.get(0);
                        existingPushpin.setLocation(loc);
                    } else {
                        var addpin = new Microsoft.Maps.Pushpin(loc,{color: 'blue'},{'draggable': false});
                        map.entities.push(addpin);
                    }
                    }
                }
        } 
    </script>
</head>

<body onlanguagechange="reset()">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <div class="registration-container">
        <h2 style="text-align: center;">Register</h2>
        <br>
        <form action="/register_user" method="post">
            <div class="section-container">
                <h3>Personal Information</h3>
                <label for="username">Name:</label>
                <input class="form-control" type="text" id="name" name="name" required
                    placeholder="please provide your full name">
                <br>
                <label for="email">Email:</label>
                <input class="form-control" type="text" id="email" name="email" required
                    placeholder="Your current e-mail id">
                <br>
                <label for="password">Password:</label>
                <input class="form-control" type="text" id="password" name="password" required
                    placeholder="Your prefered password">
                <br>
                <label for="contact">Contact:</label>
                <input class="form-control" type="text" id="contact" name="contact" required
                    placeholder="Contact number">
                <br>
            </div>
            <br>
            <div class="section-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="demo" id="charge_provider" onclick="show1()">
                    Charge Provider
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="demo" id="ev_owner" onclick="show2()"> EV Owner
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="demo" id="both" onclick="show3()"> Both
                </div>
            </div>
            <br>
            <div class="flex-container">
                <div class="flex-child" id="1">

                    <h3>Charge Provider Information</h3>
                    <label class="sr-only" for="location1">location:</label>
                    <div class="form-row">
                        <div class="col">
                        <input type="text" class="chargerForm" name="lat" placeholder="latitude" id="lat">
                        </div>
                        <div class="col">
                        <input type="text" class="chargerForm" name="long" placeholder="longitude" id="long">
                        </div>
                    </div>
                    <br>

            
                    <div class="chargerForm" id="myMap" style="position:relative; width: 500px; height: 500px;" ></div>
                    <br>
                    <label for="capacity">capacity:</label>
                    <input class="chargerForm" type="text" id="capacity" name="capacity" 
                        placeholder="Your charger capacity">
                    <br>

                    <label for="chargerType">Charger Type:</label>
                    <select class="chargerForm" type="text" id="chargerType" name="chargerType" 
                        placeholder="The type of charger you have">
                        <option value="Charger1">Charger1</option>
                        <option value="Charger2">Charger2</option>
                        <option value="Charger3">Charger3</option>
                    </select>
                    <br>
                    

                </div>
                <br>
                <div class="flex-child" id="2" >
                <h3>EV Owner Information</h3>
                <label for="model">EV Model:</label>
                <input class="EVform" type="text" id="model" name="model"  placeholder="The model of Your EV"><br>

                <label for="make">Make of your EV:</label>
                <input class="EVform" type="text" id="make" name="make"  placeholder="EV make year"><br>
                
                <label for="EVchargerType">Charger Type:</label>
                <select class="EVform" type="text" id="EVchargerType" name="EVchargerType"  placeholder="Charger Type" >
                    <option value="Charger1">Charger1</option>
                    <option value="Charger2">Charger2</option>
                    <option value="Charger3">Charger3</option>
                </select>
                <br>
            </div>
            </div>

            <div style="text-align: center;">
                <button type="submit">Register</button>
            </div>
            
        </form>
    </div>
    <br>

    <br><br>
    {{message}}
    </div>
    <script>
        // Charger form is 1 and EV form is 2
        var charElements=document.getElementsByClassName("chargerForm")
        var evElements=document.getElementsByClassName("EVform")
        var cahrID=document.getElementById("1")
        var evID=document.getElementById("2")
        var inputChar=cahrID.querySelectorAll('input,select')
        var inputEV=evID.querySelectorAll('input,select')
        //reset();

        //default status assignment
        cahrID.style.opacity="0.2"
        evID.style.opacity="0.2"       
        cahrID.style.backgroundColor = "grey"
        evID.style.backgroundColor = "grey"
            for (i=0;i<evElements.length;i++){
                evElements.item(i).setAttribute("disabled","true")
                //charElements.
            } 
            for (j=0;j<charElements.length;j++){
                charElements.item(j).setAttribute("disabled","true")
            }
        function reset(){
            for (k=0;k<inputChar.length;k++){
                inputChar[k].value=""
            }
            for (l=0;l<inputEV.length;l++){
                inputEV[l].value=""
            }
        }
            
            
        function show1() {   
            cahrID.style.opacity="1"
            evID.style.opacity="0.2"       
            cahrID.style.backgroundColor = "white"
            evID.style.backgroundColor = "grey"
            reset();
                for (i=0;i<evElements.length;i++){
                    evElements.item(i).setAttribute("disabled","true")
                    //charElements.
                } 

                for (j=0;j<charElements.length;j++){
                    charElements.item(j).removeAttribute("disabled")
                }    

        }

        function show2() {
            cahrID.style.opacity="0.2"
            evID.style.opacity="1"
            cahrID.style.backgroundColor = "grey"
            evID.backgroundColor = "white"
            reset();
                for (i=0;i<evElements.length;i++){
                    charElements.item(i).setAttribute("disabled","true")
                    charElements.item(i).value=""
                } 

                for (j=0;j<evElements.length;j++){
                    evElements.item(j).removeAttribute("disabled")
                }  

        }
        function show3() {
            cahrID.style.opacity="1"
            evID.style.opacity="1"
            cahrID.style.backgroundColor = "white";
            evID.style.backgroundColor = "white";
            reset();
             for (i=0;i<evElements.length;i++){
                    evElements.item(i).removeAttribute("disabled")
                } 

                for (j=0;j<charElements.length;j++){
                    charElements.item(j).removeAttribute("disabled")
                } 
        }
    </script>
 
</body>

</html>